/*Gestion couleurs*/

$primaryColor:#090909;
$secondaryColor:#464545;
$tertiaryColor: #00BFFF;
$quaternaryColor: #11DDFF;
$quinaryColor : #006080;
$senaryColor : #1182A2;
$texte: white;
$lien: #00BFFF;
$modale : #162C34;
$discret: #CCCCCC;
$error:palevioletred;